<%- include('partials/header'); -%>

<form>
    <h2>log in</h2>
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="enter your email" required/>
    <div class="email error"></div>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="enter your password" required/>
    <div class="password error"></div>
    <button>Log in</button>
</form>

<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('email');
    const passwordError = document.querySelector('password');

    form.addEventListener('submit',async (e)=>{
        e.preventDefault();

        // reset:
        emailError.textContent = '';
        passwordError.textContent = '';

        try{
            const res = await fetch('/login',{
                method: 'POST',
                body: JSON.stringify({email,password}),
                headers: {'Content-Type':'application/json'}
            })
            const data = await res.json();
            console.log(data);
            if(data.error){
                emailError.textContent = data.error.email;
                passwordError.textContent = data.error.password;
            }
            // user property:
            if(data.user){
                location.assign('/');
            }
        }catch(err){
            console.log(err);
        }

    });
</script>

<%- include('partials/footer'); -%>